.container{
    min-width: 980px;
    width: 100%;
}
.header{
    min-width: 980px;
    text-align: center;
    margin:0 auto;
    height: 80px;
    line-height: 80px;
    background-color: #40da89;
}
.header > button{
    background: #3385ff;
    width: 100px;
    height: 34px;
    color: #fff;
}
.header > input{
    width: 400px;
    height: 30px;

}
.aside{
    display: inline-block;
    width: 15%;
    vertical-align: top;
    background-color: #40da89;
}
.aside > ul > li{
    margin: 0px auto 5px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    background-color: #3385ff;;
}
.aside > ul > li > a{
    color: #fff;
    font-size: 15px;
}
.content{
    width: 84%;
    display: inline-block;
    margin-right: 0px;
    vertical-align: top;
}
.easilysearch{
    width: 30%;
    background-color: #F3F7F9 ;
}
.easilysearch > li > input{
    margin: 0px auto 2px;
    display: block;
    width: 99%;
    height: 25px;
}
.easilysearch > button{
    margin: 2px auto;
    display: block;
    width: 100%;
    height: 28px;
    background-color: #3385ff;
    color: #fff;
}
.lastsendlist{
    width: 100%;
    text-align: center;
    background-color: #fff;
    margin-top: 5px;
}
.lastsendlist > tbody > tr{
    height: 30px;
}
.lastsendlist > tbody > tr > th{
    background-color: #26AF61;
    color: #fff;
}
.lastsendlist > tbody > tr > td{
    background-color: #ffffff;
    color: #101010;
}
.paging{
    width: 100%;
    margin-top: 5px;
}
.paging > ul{
    display: block;
}
.paging > ul > li{
    display: inline-block;
    width: 60px;
    height: 25px;
    background-color: #26AF61; 
    text-align: center;
    line-height: 25px; 
}
.paging > ul > li >a{
    color: #fff;
}
