.container,#render{
    min-width: 980px;
    width: 100%;
}
.header{
    min-width: 980px;
    text-align: center;
    margin:0 auto;
    height: 80px;
    line-height: 80px;
    background-color: #40da89;
}
.header > button{
    background: #3385ff;
    width: 100px;
    height: 34px;
    color: #fff;
}
.header > input{
    width: 400px;
    height: 30px;

}
#render > dl {
    display: block;
    width: 80%;
    margin: 20px auto ;
}
#render > dl > div > dt,dd{
    display: inline-block;
    border: solid 1px #e6e6e6;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
}
#render > dl > div > dt{
    width: 30%;
}
#render > dl > div > dd{
    width: 69%;
}
#change,#confirmchange{
    width: 80px;
    height: 30px;
    margin-top: 7px;
    background: #229ffd;
    color: #fff;
}